  <section class="header">
        <nav>
            <a href="Home.html"><img src="Bk.jpg"></a>
            <div class="navlinks" id="navlinks">
                <i class="bi bi-x" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="About.html">About Us</a></li>
                    <li><a href="Templates.html">Templates</a></li>
                    <li><a href="editor.html">Editor</a></li>
                    <li><a href="Help.html">Help</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="login.hbs">Login</a></li>
                    

                </ul>
            </div>
            <i class="bi bi-list" onclick="showMenu()"></i>
        </nav>

    <div class="textBox">
        <h1>Create Logo</h1>
        <p>
           Create better templates to have have better attraction!
           
        </p>
        <a href="" class="btn1">Visit Us To Know More</a>
    </div>
    </section>